
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jobs-worker
  labels:
    app: jobs-worker
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: jobs-worker
  template:
    metadata:
      labels:
        app: jobs-worker
    spec:
      # runtimeClassName: nvidia
      nodeSelector:
        nvidia.com/gpu: "true" 
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
      containers:
      - name: worker
        image: jobs-worker:0.2
        imagePullPolicy: Never
        env:
        - name: MONGO_URI
          value: "mongodb://jobs-mongo:27017"
        - name: MAX_CONCURRENT
          value: "2"
        - name: POLL_SECONDS
          value: "5"
        - name: TRAIN_SCRIPT
          value: "/app/src/train.py"
        - name: DATASET_PATH
          value: "/app/data"
        resources:
          requests:
            cpu: "2"
            memory: "2Gi"
            nvidia.com/gpu: 1  
          limits:
            cpu: "2"
            memory: "2Gi"
            nvidia.com/gpu: 1
---
apiVersion: v1
kind: Service
metadata:
  name: jobs-worker
spec:
  selector:
    app: jobs-worker
  ports:
  - port: 8080  
    targetPort: 8080
  type: ClusterIP 
