
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 0.5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jobs-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jobs-mongo
  template:
    metadata:
      labels:
        app: jobs-mongo
    spec:
      containers:
      - name: mongo
        image: mongo:7
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-data
          mountPath: /data/db
      volumes:
      - name: mongo-data
        persistentVolumeClaim:
          claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: jobs-mongo
spec:
  selector:
    app: jobs-mongo
  ports:
  - port: 27017
    targetPort: 27017
  type: ClusterIP
